#rightnav {
    padding-top: 20px;
    padding-right: 15px;
}

#searchnav {
    padding-right: 15px;
}

.title {
    text-align: center;
    background-color: black;
    padding-bottom: 0px;
}

#navadar {
    padding-top: 0px;
}

#mainh {
  font-size: 20px;
  padding: 15px;
  color: white;
}

@media only screen and (min-width: 800px) {
  #navsmall {
    display: none;
  }
  #mainh {
    font-size: 40px;
    padding: 50px;
  }
}
@media only screen and (max-width: 800px) {
  #navbig {
    display: none;
  }

  .info {
    font-size: 10px;
  }
}
